In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.style as style
style.use('seaborn-whitegrid')
%matplotlib inline

import os
import pprint
import time
import pickle
from random import randint
from collections import defaultdict

from sklearn.model_selection import train_test_split, KFold
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.naive_bayes import MultinomialNB

%load_ext dotenv
%dotenv

%load_ext autoreload
%autoreload 2

In [2]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize, TreebankWordTokenizer, wordpunct_tokenize
from nltk.tag import pos_tag
from nltk.chunk import ne_chunk
from nltk.util import ngrams
from nltk.corpus import stopwords

from textblob import TextBlob

In [3]:
# Set pandas options
pd.set_option('max_rows', 10)
# pd.set_option('max_colwidth', -1)
# pd.set_option('display.width', 150)
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv('data/portland_reviews.csv')

In [5]:
df.shape

(318262, 6)

In [6]:
df['listing_id'].nunique()

4911

In [7]:
df.head(3)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7893,27282,2010-02-22,52074,Shaun,Couldn't possibly had a better experience with...
1,7893,17461247,2014-08-12,13284006,Jessica,Jesse's place was really wonderful! The apartm...
2,12899,24767,2010-01-24,69327,Stuart,"Recommended! Very good value for a spacious, a..."

In [8]:
df.groupby('listing_id').nunique().shape

(4911, 6)

In [19]:
comments = df['comments']

In [20]:
len(comments)

318262

In [21]:
tokenizer = TreebankWordTokenizer()
tokenizer.tokenize(comments[0])

['Could',
 "n't",
 'possibly',
 'had',
 'a',
 'better',
 'experience',
 'with',
 'this',
 'trip.',
 'Would',
 'give',
 'it',
 '10',
 'stars',
 'if',
 'I',
 'could.',
 'Thanks',
 'for',
 'everything',
 'Jesse',
 ',',
 'you',
 'and',
 'your',
 'condo',
 'were',
 'fantastic',
 '.']

In [36]:
print(df.iloc[0, -1])
TextBlob(df.iloc[0, -1]).sentiment

Couldn't possibly had a better experience with this trip.  Would give it 10 stars if I could.  Thanks for everything Jesse, you and your condo were fantastic.

Sentiment(polarity=0.275, subjectivity=0.65)

#### Tokenization

In [15]:
comments = pd.DataFrame(comments)